a:link
{
	color:red;
	text-decoration:none;
}
a:visited
{
	color:red;
	text-decoration:none;
}
a:active
{
	color:red;
	text-decoration:none;
}
a:hover
{
	background-color:red;
	color:white;
	text-decoration:none;
}

img {  
border-style: none;
}

html, body {
height:100%;
font-family: 'Pontano Sans', sans-serif;
}

.container {
background-color:black;
}

.page {
width: 750px;
margin: 0 auto;
background-color:white;
}

.page_title {
text-align:center;
}

.nav {
width: 750px;
margin: 0 auto;
text-align: right;
padding-bottom:8px;
margin-bottom:10px;
border-bottom: 1px dashed black;
}

.heading {
font-size:4em;
}

.username {
font-size:1.5em;
}

.gallery_list {
width: 340px;
margin: 0 auto;
margin-top: 10px;
}

.flash {
color: red;
text-align:left;
font-size:0.8em;
}

.created {
font-size:0.8em;
padding-left:10px;
padding-bottom:5px;
}

.gallery_title {
font-size:3em;
text-align:center;
}

.gallery_list_container {
height:100px;
}
.gallery_list_thumbnail {
float:left;
width: 100px;
margin-right:10px;
text-align:center;
}

.gallery_list_info {

}

.gallery_date {
text-align:center;
}

.photostream {
width:600px;
margin:0 auto;
padding-top:10px;
}

.delete_photo {
width:600px;
margin:0 auto;
padding-top:10px;
text-align:center;
}

.photo {
padding-top:5px;
}

.photo_info {
display:none;
width:790px;
}

.photo_info_image {
float:left;
margin-right:0px;
}

.photo_info_text {
float:right;
margin:0 auto;
}

.photo_info_useractions {
text-align:center;
margin-top:10px;
}

.text_red {
color:red;
}

.pagination {
text-align:center;
margin-bottom:10px;
margin-top:10px;
}
