{% extends "layout.html" %}
{% block body %}

<div class=gallery_title>upload photos</div>
<div class=gallery_date>
	currently only accepting jpeg files in a .zip container
</div>
<div class=photostream>
<form action="" method=post enctype=multipart/form-data>
  <p>photo zip:<input type=file name=photos></p>
  <p>gallery:
  <select name=gallery>
	{% for gallery in galleries %}
		<option value="{{ gallery.gallery_name }}">{{ gallery.gallery_name }}</option>
	{% endfor %}
	<option value="new_gallery" selected="selected">--new gallery--</option>
  </select>
  </p>
  <p>new gallery name: <input type=text name=new_gallery_name></p>
	 <input type=submit value=Upload>
</form>
</div>
{% endblock %}
